
.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

textarea{
    width: 65vw;
    height: 35vh;
    margin-top: 2rem;
}
.field{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.counter{
    margin-top: 1rem;
    
}

.btn {
    
    margin-top: 1rem;
  
  }
  
  